.centered {
  -webkit-transform-style: preserve3d;
          transform-style: preserve3d;

  -webkit-perspective: 800px;

          perspective: 800px;
}

.demo {
  animation:no-transform 1s .5s cubic-bezier(0, .1, .5,1.5) forwards;
  background: #3991AE;
  color: #fff;
  font-size: 4rem;
  padding: 2rem 3rem;
  position: relative;
  text-align: center;
  transform: rotateX(-90deg);
}

@keyframes no-transform{
  100%{
    transform: none;
  }
}