// color palette - these colors will be the color swatches of the Colors section

$color-1: #e4572e; // Flame
$color-2: #f0f66e; // Laser Lemon 
$color-3: #f0f7ac; // Lemon Yellow
$color-4: #ccdfb8; // Honeydew
$color-5: #324528 ; // Tea Green
$color-6: #f0f8ea; // Kombu Green
$color-7: #a3b174; // Olivine

// additional colors

$success: #6fce72; // green
$alert: $color-3; // red

