@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
// fonts
$primary-font: 'Merriweather', serif;
$secondary-font: 'Open Sans', sans-serif;
$header: 'Chelsea Market', cursive;